.hero-card {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.hero-card__image {
  display: flex;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 4px;
  border-radius: 8px;
}

.hero-card__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.hero-card__inner {
  display: none;
}
