@font-face {
  font-family: "CairoPlay";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../../assets/fonts/CairoPlay-Light.ttf") format("opentype");
}

@font-face {
  font-family: "CairoPlay";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../assets/fonts/CairoPlay-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "CairoPlay";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../../assets/fonts/CairoPlay-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "CairoPlay";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../../assets/fonts/CairoPlay-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "CairoPlay";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../../assets/fonts/CairoPlay-ExtraBold.ttf") format("opentype");
}

@font-face {
  font-family: "CairoPlay";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../../assets/fonts/CairoPlay-Black.ttf") format("opentype");
}
