*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}


html {
  font-size: 62.5%;
}

body {
  font-family: "CairoPlay";
  font-size: 1.6rem;
  
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 16px;

  @include tablet {
    margin: 0 32px;
  }

  @include desktop {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
