$hextechgold1: #F0E6D2;
$hextechgold2: #C8AA6E;
$hextechgold3: #C89B3C;

$hextechblue1:#CDFAFA;
$hextechblue2:#0AC8B9;
$hextechblue3:#0397AB;
$hextechblue4:#005A82;

$hextechblack: #010A13;

$hextechgrey1:#A09B8C;
$hextechgrey2:#5B5A56;
$hextechgrey3:#3C3C41;
$hextechgrey4:#1E2328;
$hextechgrey5:#1E282D;