.board {
  position: relative;
  border-radius: 8px;
  padding: 2.4rem 1.6rem;
  padding-right: 0.8rem;
  color: $hextechgold3;
  margin-top: 1.8rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 80rem;
  width: 100%;
  background-color: var(--board-color);

  @include small {
    padding: 3.2rem 2.4rem;
    margin-top: 2rem;
  }
  &__title {
    position: absolute;
    top: -0.4rem;
    left: 0.8rem;
    transform: translateY(-100%);
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 500;
  
    @include small {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
  
  &__inner {
    width: 100%;
    aspect-ratio: 1/1.63;
    padding-right: 0.8rem;
    overflow-y: scroll;
  
    @include small {
      aspect-ratio: 1/1;
    }
  
    &::-webkit-scrollbar {
      width: 0.8rem;
    } 
  
    &::-webkit-scrollbar-track {
      background-color: var(--board-color);
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: var(--board-color);
    }
  }
}

