.spells-wrapper {
  position: relative;
  padding: 40px;
  padding-right: 20px;
  background-color: rgba(230, 87, 87, 0.2);
  border-radius: 8px;
  max-width: 100%;

  &::after {
    content: "Spells";
    position: absolute;
    left: 40px;
    top: 0;
    transform: translateY(-50%);
    font-size: 20px;
    color: #f01e1e;
    font-weight: 700;
  }
}

.spells-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  display: flex;
  gap: 24px;
  max-width: 420px;
  overflow-y: hidden;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(230, 87, 87, 0.4);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(230, 87, 87, 0.8);
  }
}