.spells-wrapper {
  margin-top: 2rem;
  position: relative;
  padding: 4rem;
  padding-right: 2rem;
  background-color: rgba(230, 87, 87, 0.2);
  border-radius: 8px;
  max-width: 100%;
  @include medium {
    margin-top: 0rem;
  }

  &::after {
    content: "Spells";
    position: absolute;
    left: 40px;
    top: 0;
    transform: translateY(-50%);
    font-size: 20px;
    color: #f94347;
    font-weight: 700;
  }
}

.spells-list {
  display: flex;
  gap: 24px;
  max-width: 300px;
  overflow-y: hidden;
  /* overflow-x: scroll; */
  flex-wrap: wrap;
  margin-right: 0;
  @include medium {
      margin: 0; 
      padding: 0;
      padding-right: 26px; 
      list-style: none;
      margin: 0;
      padding: 0;
      padding-right: 20px;
      display: flex;
      gap: 24px;
      max-width: 420px;
      overflow-y: hidden;
      overflow-x: scroll;
      list-style: none;
      
    }

  &::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(230, 87, 87, 0.4);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(230, 87, 87, 0.8);
  }
}