.heroes {
  padding-bottom: 80px;
  display: flex;
  z-index: 1;
  
  &::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("../../assets/images/lol-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
