.heroes {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("../../assets/images/lol-1.jpg");
  background-position: left top;
  background-size: 148%;
}
