.builds-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__item {
    display: flex;
    flex-direction: column;
    @include medium {
      align-items: center;
      flex-direction: row;
      gap: 24px;
    }
  }
  &__item-button {
    margin-top: 1.8rem;
    margin-right: auto;
    margin-left: auto;
  }
}
