.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  margin-bottom: 24px;

  &__title {
    font-size: 1.4rem;
    color: $hextechgold1;
    @include tablet-desktop {
      font-size: 2.4rem;
    }
  }

  &__button {
    background: transparent;
  backdrop-filter: blur(12px);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.7rem;
    color: $hextechgold1;
    font-weight: 500;
    padding: 0rem 2rem;
  }
}
