.builds-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.builds-card__container {
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.builds-card__name {
  position: absolute;
  left: 24px;
  top: 0;
  transform: translateY(-50%);
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  color: #f01e1e;
  width: calc(100% - 48px);

  &::placeholder {
    color: #f01e1e;
  }

  &:focus {
    outline: none;
  }
}

.builds-card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 24px
}

.builds-card__list-item {
  max-width: 48px;
  display: flex;
  flex-direction: column;

  img {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    text-indent: -100%;
    border-radius: 8px;
    background-color: rgba($color: #fff, $alpha: .3);
  }

  p {
    margin: 0;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    word-wrap: break-word;
    color: #f01e1e;
    font-weight: bold;
  }
}

.builds-card__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}
