.builds {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/lol-5.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
