.heroes-selected {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../../assets/images/orn-item.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.heroes-selected__container {
  display: flex;
  max-width: 1200px;
  margin: 120px auto;
  gap: 40px;
}

.heroes-selected__right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
}
